{% extends 'global/base.html' %}

{% block content %}
  <div class="single-contact">
    <h1 class="single-contact-name">
      {{ page_obj.first_name }} {{ page_obj.last_name }}
    </h1>
    <p><b>ID:</b> {{ page_obj.id }}</p>
    <p><b>E-mail:</b> {{ page_obj.email }}</p>
    <p><b>Phone:</b> {{ page_obj.phone }}</p>
    <p><b>Created Date:</b> {{ page_obj.created_date }}</p>
    <p><b>Description:</b> {{ page_obj.description }}</p>
    <p><b>Category:</b> {{ page_obj.category.name }}</p>
  </div>
{% endblock content %}